.main-content ol li, .main-content ul li{
    margin-bottom: 20px;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5;
}

.main-content h4{
    color: #808488;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.5;
}

.main-content ol li h4, .main-content ul li h4{
    color: #000;
    font-size: 1em;
    font-weight: 400;
}

hr{
    border-color:#ebebeb;
    margin-bottom: 30px;
}

.page-info-background {
    padding: 160px 0 100px;
}

.page-info-background.header-background {
    padding: 40px;
}

.article-navigation{
    margin-top: 20px;
}

.panel.panel-small{
    padding: 30px;
}

.panel.panel-small .panel-header{
    text-align: left;
}
